@tailwind base;
@tailwind components;
@tailwind utilities;


body {
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}
.container{width: 90%; margin: auto;}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.link:hover {
  color: #ff5252;    
}
.MuiBadge-badge{
background-color: #ff5252 !important;


}